/*CHECKPOINT-5*/

html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #e0e0e0; /*body Color*/
}
#main-div{
    height: 100%;
    width: 100%;
}
#LOGO{
    height: 60px;
    width: 60px;
}
#SocialMedia{
    height: 20px;
    width: 22px;
}
#RaddisonImage{
    height: 500px;
    width: 500px;
}
header,footer{                  
    background-color: rosybrown;  /* header/footer color*/
}
