/*CHECKPOINT-7*/

html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #e0e0e0;
}
body{
    font-family:'Ubuntu', sans-serif;
}
a{
    text-decoration: none;
    color:black;
}
#main-div{
    height: 100%;
    width: 100%;
}
header,footer{                  
    background-color: rosybrown; 
}
header{                       
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    z-index: 1;

    display: flex;                     /* flex property  HEADER*/
    align-items: center;
    justify-content: space-between;
}
footer{                           
    position: relative;         
    bottom: 0;
    height: 60px;
    width: 100%;
    z-index: 1;

    clear: left;
    
    display: flex;                   /* flex property FOOTER*/
    align-items: center;
    justify-content: space-between;
}
#LOGO{
    height: 60px;
    width: 60px;
    margin-left: 1%;
}
#SocialMedia{
    height: 20px;
    width: 22px;
}
#RaddisonImage{
    height: 500px;
    width: 500px;
}
#login{                            
    margin-right: 2%;                 /* margin reset*/
  }
 #contact{                  
     margin-left: 2%;                 /* margin reset*/
 }
 #social{                 
    margin-right: 1%;                  /* margin reset*/
 }
 #copyRight{                
     font-size: 10px;                  /* margin reset*/
 }