                                               /* Checkpoint 13*/

#raddison-div{
   padding: 10px 0 10px 0;

   display: flex;                                /* flex property*/
   align-items:center ;
   justify-content: center;

   flex: 3;   
}
#main-div{
   display: none;
}
#loader-div{                                      /* styling for LOADER*/
   height: 70px;
   width: 70px;
   border-radius: 50%;
   border: 12px solid #f3f3f3;
   border-top: 12px solid  #444444;
   margin:auto;
   margin-top: 20%;
   margin-bottom: 20%;

   animation: spin 1s linear infinite;                
}
@keyframes spin {                                   
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
}
#form-div{
   border-left: 1px solid black;              
   flex: 1;
}
#slide-image{    /*slide-show image */
    height: 350px;                           
}
#first-image,#second-image,#third-image,#fourth-image,#fifth-image,#sixth-image{   /* added image height*/
   height: 350px;
}
#contianer-image-form{                          
   max-height: 400px;                           /* container max-height*/

   margin: 2% 2% 2% 2%;                         /* flex for image & form container */
   border: 1px solid black;

   display: flex;                      
   justify-content: flex-end;

}
#discription-div{
   margin: 1% 4% 2% 2%;
}
span{
   font-family:cursive;                         /* font - cursive*/
} 
#space{
   height: 60px;
}
 #hotel-slide{
           width: 50%;
}

#form-row{
   display: flex;
   flex: 1 1 0;
   margin: 2% 2% 5% 2%;
   justify-content: space-between;
}
#form-row input{
   width: 60%;
}
#bookNow{
   display: block;
   margin: 0 auto;
}

.carousel-control-prev-icon{
  position: relative;
  background: none;
}
.carousel-control-next-icon{
   position: relative;
   background: none;
}
.carousel-control-prev-icon::before{        /* content before for prev icon*/
   content: '<';
   font-size: 55px;
   color: rosybrown;
   position: absolute;
   top: -35px;
   left:-100px;
  
}
.carousel-control-next-icon::after{       /* content after for next icon*/
   content: '>';
   font-size: 55px;
   color: rosybrown;
   position: absolute;
   top: -35px;
   right: -95px;
}
.bi-star-fill{
   color: gold;
}
@media  screen and (max-width:576px){         /* media query for max-width-576px*/
   #contianer-image-form{
     flex-direction: column;
     border: none;
   }
   #space{
      height: 55%;
   }
   #raddison-div{
     padding: 1%;
   border: 1px solid black;
   margin-bottom: 2%;
   }
   #form-div{
     padding-bottom: 10px;
     border-top: 1px solid black;
     border-right: 1px solid black;
     border-bottom: 1px solid black;
     margin-bottom: 2%;
   }
   #content-div{
      flex-direction: column;
   }
   #hotel-slide{
      width: auto;
      margin: 0;
   }
   .carousel-control-prev-icon::before{
      left:-10px;
   }
   .carousel-control-next-icon::after{
      right: -10px;
   }
  
}   
@media screen and (min-width:576px) and (max-width:768px){   /* media query for min-width-576px & max-width-768px*/
   #raddison-div{
      padding: 10px 10px 10px 10px;
     flex: 2;
   }
   #form-div{
     flex: 1;
   }
   #discription-div{
      margin-bottom: 23%;
   }
   #hotel-slide{
      width: auto;
   }
   .carousel-control-prev-icon::before{
      left:-20px;
   }
   .carousel-control-next-icon::after{
      right: -20px;
   }
   
} 