                                               /* Checkpoint 9*/

#raddison-div{
   padding: 10px 0 10px 0;

   display: flex;                                /* flex property*/
   align-items:center ;
   justify-content: center;

   flex: 2;   
}
#form-div{
   border-left: 1px solid black;              
   flex: 1;
}
#slide-image{    /*slide-show image */
   max-height: 350px;                           
}
#contianer-image-form{                          
   max-height: 400px;                           /* container max-height*/

   margin: 2% 2% 2% 2%;                         /* flex for image & form container */
   border: 1px solid black;

   display: flex;                      
   justify-content: flex-end;
}
#discription-div{
   margin: 1% 4% 2% 2%;
}
span{
   font-family:cursive;                         /* font - cursive*/
} 
#space{
   height: 60px;
}
.wrapper{                                      /* form STYLING */
   list-style-type: none;
   width: auto;    
}
.form-row{
   display: flex;
   justify-content: flex-end;
   padding-top:3% ;
   padding-right:6% ;
   padding-bottom: 5%;
}
.form-row > label{
   padding: 0 2% 0 0; 
   flex: 1;
}
.form-row > input{
  flex: 2;
}
.form-row > button{
padding:5px;
margin-right: 43%;
}
.btn-outline-success{
   color:green;
   border-color:green;
}
.btn-outline-success:hover{
   background-color: green;
   color:white;
}
.glyphicon-star{                  /* All star color GOLD*/
   color: gold;
}
.carousel-control-prev-icon{                    /* carousel added*/
   position: relative;
   background-image: none;
 }
 .carousel-control-prev-icon::before{
     content: '<';
     font-size: 55px;
     position: absolute;
     color:rosybrown;
     top:-40px;
     left:-150px;
     
 }
 .carousel-control-next-icon{
   position: relative;
   background-image: none;
 }
 .carousel-control-next-icon::before{
     content: '>';
     font-size: 55px;
     position: absolute;
     color:rosybrown;
     top:-30px;
     left:100px;
     
 }
 #hotel-slide{
     width: 70%;
     margin: auto;
 }

