/*CHECKPOINT-10*/

#CityImage{
    height: 150px;
    width: 150px;
    border-radius: 25%;   
    box-shadow:10px 10px 10px grey;        
}
#SearchBar-div{   
    background-image: url(https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg);
    height: 380px;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;  
}
#input-div{                 
    position: absolute;
    top: 45%;
    bottom: 55%;
    left:35%;
    right: 35%;
} 
#Search{                     
    padding: 10px;
    width: 100%;
    border-radius: 12px;
    border:1px solid transparent;
    background: #f1f1f1;
    font-size: 16px;

    outline: none;                      /* outline set*/
}
.CityCards{
    display: flex;                       /* flex property to CITY CARDS*/
    align-items: center;
    justify-content: space-evenly;
    padding: 3% 0 2% 0;                  /* padding reset*/
   
    flex-wrap: wrap;                    /*flex-wrap added*/        
}

#view-div{                 
   width: 100%;
   text-align: center;
   margin-bottom:2% ;
}
#content-div{                           /*flex property to content- div*/
    display: flex;
    flex-direction: column;
}
.city-container-1{
    position: relative;                  /* for overlay*/
    margin: 2%  3%;
}
.city-container-2{
    position: relative;                  /* for overlay*/
    margin: 2%  3%;
}
#overlay{                                /* overlay styling */
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    text-align: center;
    border-radius: 25%;
    opacity: 0;

    position: absolute;           
    top: 0;
}
#overlay p{                           /* p styling */
    color: #f1f1f1;
    position: relative;
    top:45%;
}
.city-container-1:hover  #overlay{     /* hovering overlay*/
    opacity:1;
}
.city-container-2:hover  #overlay{     /* hovering overlay*/
    opacity:1;
}
.city-container-2{
    display: none;
}
#content-div{
    margin-top: 60px;
}
#view-button{
    background-color:gray;
    color: white;
}
.modal{
    display: none;
}
@media  screen and (max-width:576px){                /* media query for max-width-576px*/
    #CityCards{
        
        flex-direction: column;
        justify-content: space-evenly
    }
    #CityImage{
        margin-bottom: 30px;
    }
    #view-div{
        margin-bottom: 30px;
    }
}
@media screen and (min-width:576px) and (max-width:768px){ /* media query for min-width-576px & max-width-768px*/
    #city-container{
        margin: 3%;
    }
    #CityCards{
        flex-wrap: wrap;
    }
    #CityImage{
      width: 30vw ;
      height:25vh;
    }
}


