/*Checkpoint 7*/

#HotelImage{
     height: 250px;
     width: 250px;
}
#hotel-div{                    /* hotel container*/     
     width: 40%;
     background-color:lightgrey;
     margin: 4%;
     
     float: left;
     display: flex;             /* flex property for each hotel*/
     align-content: center;
     justify-content: flex-start;
}
#hotel-info{
     margin-left: 2%;
}
#list-map-div{             
     height: 20px;
     padding: 10px;
     
     display: flex;              /* flex property */
     align-items: center;
     justify-content: center;
}  
#MapView{                
   display: none
}
#content-div{
     margin-top: 60px;
     margin-bottom: 60px;
}
   
    
