/*Checkpoint 13*/

.HotelImage{
     height: 250px;
     width: 250px;
}
.hotel-div{                    /* hotel container*/     
     width: 40%;
     background-color:lightgrey;
     margin: 4%;
     
     float: left;
     display: flex;             /* flex property for each hotel*/
     align-content: center;
     justify-content: flex-start;

     color: black;
     cursor: pointer;
}
.hotel-div:hover{
     background-color: rosybrown;
}
.hotel-info{
     margin-left: 2%;
}
#list-map-div{             
     height: 20px;
     padding: 10px;
     
     display: flex;              /* flex property */
     align-items: center;
     justify-content: center;

}  

#content-div{
   margin-bottom: 60px;
}
#space{
     height: 100px;
}
.glyphicon-star{                  /* All star color GOLD*/
     color: gold;
}
.glyphicon-star.black{           /* Star black*/
     color: black;
}
.glyphicon-star.half{             /*Star half*/
     position: relative;
}
.glyphicon-star.half:before{
     position: relative;
    
     width: 45%;
     overflow: hidden;
     display: block;
     z-index: 2;

}
.glyphicon-star.half:after{
     content: '\e006';
     z-index: 1;
     color:black;
    
     position: absolute;
     top:0;
     left:0;
}
.star{
     display: flex;
 }
 #main-div{
      display: none;
 }
 #loader-div{                                        /* styling for LOADER*/
     height: 70px;
     width: 70px;
     border-radius: 50%;
     border: 12px solid #f3f3f3;
     border-top: 12px solid  #444444;
     margin:auto;
     margin-top: 20%;
     margin-bottom: 20%;
 
     animation: spin 1s linear infinite;              
 }
 @keyframes spin {                                   
     0% { transform: rotate(0deg); }
     100% { transform: rotate(360deg); }
 }
@media  screen and (max-width:576px){              /* media query for max-width-576px*/
.hotel-div{
       clear: left;
       flex-direction: column;
       width: fit-content;
}
.HotelImage{
       width: 90vw; 
}
#MapView img{
       width: 100vw;
}
#MapView{
       margin-bottom: 70%;
}

}   
@media screen and (min-width:576px) and (max-width:768px){   /* media query for min-width-576px & max-width-768px*/
.hotel-div{
        clear: left;
        width: 90%;
}
#MapView img{
     width: 100vw;
}
#MapView{
     margin-bottom: 48%;
}

}    
